@font-face {
    font-family: "HouseofTerror";
    src: url("../Font/HouseofTerrorRegular.ttf");
}

.label {
    -fx-font-family: "HouseofTerror";
    -fx-font-size: 50px;
}
.button {
    -fx-font-family: "HouseofTerror";
    -fx-font-size: 30px;
    -fx-cursor: hand;
}